kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: nova

# patch containerd config for *all* nodes
containerdConfigPatches:
  - |
    [plugins."io.containerd.grpc.v1.cri".registry.mirrors]
      [plugins."io.containerd.grpc.v1.cri".registry.mirrors."docker.io"]
        endpoint = ["https://registry.vaheed.net:2053"]
      [plugins."io.containerd.grpc.v1.cri".registry.mirrors."gcr.io"]
        endpoint = ["https://registry.vaheed.net:2083"]
      [plugins."io.containerd.grpc.v1.cri".registry.mirrors."ghcr.io"]
        endpoint = ["https://registry.vaheed.net:2087"]
      [plugins."io.containerd.grpc.v1.cri".registry.mirrors."k8s.gcr.io"]
        endpoint = ["https://registry.vaheed.net:2096"]
      [plugins."io.containerd.grpc.v1.cri".registry.mirrors."quay.io"]
        endpoint = ["https://registry.vaheed.net:8443"]

networking:
  ipFamily: ipv4

nodes:
  - role: control-plane
  - role: worker
  - role: worker