apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: novaapps.kubenova.io
spec:
  group: kubenova.io
  scope: Namespaced
  names:
    plural: novaapps
    singular: novaapp
    kind: NovaApp
    shortNames:
      - napp
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              type: object
              properties:
                tenant:
                  type: string
                project:
                  type: string
                namespace:
                  type: string
                description:
                  type: string
                component:
                  type: string
                image:
                  type: string
                template:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
                traits:
                  type: array
                  items:
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
                policies:
                  type: array
                  items:
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
              required:
                - tenant
                - project
            status:
              type: object
              properties:
                phase:
                  type: string
                observedGeneration:
                  type: integer
                  format: int64
                conditions:
                  type: array
                  items:
                    type: object
                    required: ["type", "status", "reason", "lastTransitionTime"]
                    properties:
                      type:
                        type: string
                      status:
                        type: string
                      reason:
                        type: string
                      message:
                        type: string
                      lastTransitionTime:
                        type: string
                        format: date-time
          required:
            - spec
      subresources:
        status: {}
