apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubenova-operator
  namespace: kubenova-system
  labels:
    app: kubenova-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kubenova-operator
  template:
    metadata:
      labels:
        app: kubenova-operator
    spec:
      serviceAccountName: kubenova-operator
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: operator
          image: ghcr.io/vaheed/kubenova/kubenova-operator:v0.1.1
          imagePullPolicy: Always
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            capabilities:
              drop:
                - ALL
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          env:
            - name: MANAGER_URL
              value: "http://kubenova-manager.kubenova-system.svc:8080"
            - name: HELM_CHARTS_DIR
              value: "/charts"
            - name: HELM_USE_REMOTE
              value: "true"
            - name: BATCH_INTERVAL_SECONDS
              value: "10"
          volumeMounts:
            - name: tmp
              mountPath: /tmp
      volumes:
        - name: tmp
          emptyDir: {}
